apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
    spec:
      serviceAccountName: {{ .Release.Name }}
      containers:
        - name: mapper
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: MAPPER_SECRET_NAME
              value: "{{ .Values.secret.name }}"
            - name: MAPPER_NAMESPACE
              value: "{{ .Values.namespace }}"
            - name: MAPPER_PREFERRED_FIELD
              value: "{{ .Values.secret.preferred_field }}"
            - name: MAPPER_CONFIGMAP_NAME
              value: "{{ .Values.secret.config_map }}"
            - name: MAPPER_API_KEY
              valueFrom:
                secretKeyRef:
                  name: "{{ .Values.secret.api_key }}"
                  key: token
            - name: MAPPER_ISSUER
              value: "{{ .Values.mapper.issuer }}" 
          ports:
            - containerPort: {{ .Values.service.port }}
          readinessProbe:
            httpGet:
              path: {{ .Values.readinessProbe.path }}
              port: {{ .Values.service.port }}
            initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.readinessProbe.timeoutSeconds }}
            failureThreshold: {{ .Values.readinessProbe.failureThreshold }}
            successThreshold: {{ .Values.readinessProbe.successThreshold }}
